<div ng-controller="UpdatePlanController as upc">
    <h1>Create Plan</h1>

    <form id="UpdatePlanForm" name="UpdatePlanForm" class="form-horizontal" role="form"
          ng-submit="upc.updatePlan()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="lbl_content" for="content" class="col-sm-4 control-label">Content</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="content" id="content" placeholder=""
                       ng-model="upc.plan.content">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_store" for="store" class="col-sm-4 control-label">Store</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="store" id="store" placeholder=""
                       ng-model="upc.plan.store">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_active" for="active" class="col-sm-4 control-label"
                   is-required="CreatePlanForm.active">Active</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="active" id="active"
                       ng-model="upc.plan.active">
            </div>
        </div>

        <pre>{{ upc.plan | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Update Plan</button>
            </div>
        </div>


    </form>
</div>

