<div ng-controller="PlanController as pc">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
                       <span class="col-md-12">
                           <md-input-container class="col-md-12">
                               <input type="text" ng-model="searchText" placeholder="Type here to filter Plans...">
                           </md-input-container>
                       </span>

                <div class="pull-right">
                    <md-button class="md-fab md-mini" aria-label="profile" ng-click="pc.clear()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </md-button>
                </div>
            </div>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div flex layout="row">
            <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Recent" md-on-select="pc.getAllPlans()">
                                <md-content class="md-padding">
                                    <md-list ng-repeat="plan in pc.plans | filter:searchText">
                                        <md-list-item class="secondary-button-padding" ng-click="pc.viewPlanDetails(plan)">
                                            <p>{{ plan.title }}</p>
                                            <md-button
                                                    class="md-icon-button md-button md-secondary" ng-click="pc.deletePlan(plan,$index)">
                                                <span class="glyphicon glyphicon-trash black "></span>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                    <md-list ng-hide="pc.plans.length">
                                        <p class="text-center">No Plans Found</p>
                                    </md-list>
                                </md-content>
                            </md-tab>
                            <md-tab label="Top in #" md-on-select="pc.getPlansGroupByHash()">
                                <md-content class="md-padding">
                                    <md-list ng-repeat="hashTags in pc.plansGroupByHash | filter:searchText" >
                                        <md-list-item class="secondary-button-padding" ng-click="pc.findPlansByHash(hashTags.store)">
                                            <p>#{{hashTags.store}}</p>
                                        </md-list-item>
                                    </md-list>
                                    <md-list ng-hide="pc.plans.length">
                                        <p class="text-center">No Hash tags Found</p>
                                    </md-list>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </md-sidenav>

            <md-content flex id="content" class="md-padding" >
                <md-card-content ng-hide="pc.hideRecentDisplay">
                    <div class="col-md-12">
                        <md-input-container class="col-md-6">
                            <label>Title</label>
                            <input ng-model="pc.plan.title" type="text" md-maxlength="50">
                        </md-input-container>

                        <md-input-container class="col-md-12 md-block">
                            <label>Content</label>
                        <textarea ng-model="pc.plan.content" id="lbl_content" md-maxlength="140" rows="4" cols="4">
                        </textarea>
                        </md-input-container>
                        <!-- <md-input-container class="md-block">
                             <label>Biography</label>
                             <textarea md-maxlength="150" rows="5" md-select-on-focus></textarea>
                         </md-input-container>-->
                    </div>
                    <!--<div class="col-md-12">
                        <md-input-container class="col-md-6">
                            <label>#Store</label>
                            <input ng-model="pc.plan.store" required
                                   id="store" split-array/>
                        </md-input-container>
                        <md-input-container hidden class="col-md-6" ng-hide="pdc.mode==0">
                            <label is-required="CreatePlanForm.active">Active</label>
                            <input ng-model="pc.plan.active" type="text"
                                   id="active">
                        </md-input-container>
                    </div>-->
                    <div class="col-md-12">
                        <div class="col-sm-offset-4 col-sm-8 text-right">
                            <a ng-href="/#/plans" id="btn_cancel">
                                <md-button type="button" id="btn_clear" class="md-warn md-raised md-hue-2"
                                           ng-click="pc.clear()">Clear
                                </md-button>
                            </a>
                            <md-button type="submit" id="btn_create" class="md-primary md-raised md-hue-2"
                                       ng-click="pc.saveOrUpdate()">Save
                            </md-button>
                        </div>
                    </div>
                </md-card-content>

                <md-card-content ng-hide="!pc.hideRecentDisplay" ng-repeat="plan in pc.plansByHash">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{plan.title}}</span>
                                <span class="md-subhead"><p>{{plan.store}}</p></span>
                            </md-card-title-text>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button
                                        class="md-icon-button md-button md-secondary" ng-click="pc.deletePlan(plan,$index)">
                                    <span class="glyphicon glyphicon-edit black "></span>
                                </md-button>
                                <md-button
                                        class="md-icon-button md-button md-secondary" ng-click="pc.deletePlan(plan,$index)">
                                    <span class="glyphicon glyphicon-trash black "></span>
                                </md-button>
                            </md-card-actions>
                        </md-card-title>
                        <md-card-content>
                            <span class="">{{plan.content}}</span>
                        </md-card-content>
                    </md-card>
                </md-card-content>
            </md-content>

        </div>
    </md-card-content>
</div>
